/*===========Force Layout CSS================*/
body {font-family: "Lato", sans-serif;}
circle {
    stroke: #000;
}
.x.axis path {
    fill: none;
}
.x.axis text {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size: 18px;
}

/*===========Tooltip CSS================*/
div.tooltip {
    line-height: 1;
    border-right: 10px;
    top: 100px;
    background: #FF4500;
    border-radius: 15px 50px 30px 5px;
    color: #000;
    display: block;
    padding: 10px;
    position: absolute;
    width: 210px;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/*===========Slider CSS================*/
body {
    font-family: Verdana,Arial,sans-serif;
}
h2 {
    font-size: 1.2em;
    margin: 60px 0 5px 0;
}
.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper > div {
    margin: 35px 0;
}
#slider8 {
    height: 250px;
}
.d3-slider-horizontal {
    height: .8em;
}    
.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}
.d3-slider-handle:hover {
    border: 1px solid #999999;
}
.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.d3-slider-axis {
    position: relative;
    z-index: 1;    
}
.d3-slider-axis-bottom {
    top: .8em;
}
.d3-slider-axis-right {
    left: .8em;
}
.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}
.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}
.d3-slider-axis text {
    font-size: 11px;
}
.d3-slider {
    position: relative;
    font-family: sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}
/*-----------footer----------*/

/*entire footer background color*/
footer{
    width: 100%;
    background-color: #484848;
    padding: 200px 0px;
}
/*Web links colors*/
a:link {
    color: white;  
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: gray;
}
.footer_wrapper{
    width: 960px;
}
/*------------footer1--------------*/
/*Title of first column*/
.footer1 nav h4{
    font-weight: bold;
    margin-top: -133px;
    margin-left: 500px;
    padding: 0;
    font-family: lucida console;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    
}
/* first column content*/
.footer1 nav ul{
    margin-top: -10px;
    list-style-type: circle;
    margin-left: 500px;
    padding: 0;
    font-family: lucida console;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    
}
/*styles block*/
.footer1 nav ul li {
    /*display:block;*/
   float:middle;
   width:300px; 
   padding: 5px; 
    
}
/*-----------footer2----------*/
/*Title of second column*/
.footer_wrapper nav h4{
    font-weight: bold;
    margin-top: -140px;
    margin-left: 60px;
    padding: 0;
    font-family: lucida console;
    font-weight: 400;
    font-size: 20px;
    color: #fff;    
}
/*column content*/
.footer_wrapper nav ul{
    margin-top: -10px;
    list-style-type: circle;
    margin-left: 60px;
    padding: 0;
    font-family: lucida console;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    
}
.footer_wrapper nav ul li {
   float:middle;
   width:300px; 
   padding: 5px; 
    
}
/*-----------footer3----------*/
/*Title of second column*/
.footer3 nav h4{
    font-weight: bold;
    margin-top: -163px;
    margin-left: 900px;
    padding: 0;
    font-family: lucida console;
    font-weight: 400;
    font-size: 20px;
    color: #fff;    
}
/*column content*/
.footer3 nav ul{
    margin-top: -10px;
    list-style-type: circle;
    margin-left: 900px;
    padding: 0;
    font-family: lucida console;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    
}
.footer3 nav ul li {
   float:middle;
   width:300px; 
   padding: 5px; 
    
}
